doctype html
html
	include layout/head
	body
		// header
		.header
			.top-header
				.container
					.top-head
						ul.header-in
							li
								a(href='#')   Help
							li
								a(href='contact.html')    Contact Us
							li
								a(href='#')    How To Use
						.search
							form
								input(type='text', value='search about something ?', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'search about something ?';}")
								input(type='submit', value='')
						.clearfix  
			// 
			.header-top
				.container
					.head-top
						.logo
							h1
								a(href='index.html')
									span  G
									span C
						.top-nav
							span.menu
								img(src='images/menu.png', alt='')
							ul
								li.active
									a.color1(href='index.html') Home
								li
									a.color2(href='games.html') Games
								li
									a.color3(href='reviews.html') Reviews
								li
									a.color4(href='404.html') News
								li
									a.color5(href='blog.html') Blog
								li
									a.color6(href='contact.html') Contact
								.clearfix  
							// script
							script.
								$("span.menu").click(function() {
								$(".top-nav ul").slideToggle(500, function() {});
								});
						.clearfix  
		// banner
		// content
		.four
			.container
				p OOPS! - Could not Find it
				h2 404
				a.more(href='index.html') Go Back 
		// 
		.footer
			.footer-middle
				.container
					.footer-middle-in
						h6 About us
						p
					.footer-middle-in
						h6 Information
						ul
							li
								a(href='#') About Us
							li
								a(href='#') Delivery Information
							li
								a(href='#') Privacy Policy
							li
								a(href='#') Terms &amp; Conditions
					.footer-middle-in
						h6 Customer Service
						ul
							li
								a(href='contact.html') Contact Us
							li
								a(href='#') Returns
							li
								a(href='contact.html') Site Map
					.footer-middle-in
						h6 My Account
						ul
							li
								a(href='#') Order History
							li
								a(href='#') Wish List
							li
								a(href='#') Newsletter
					.footer-middle-in
						h6 Extras
						ul
							li
								a(href='#') Affiliates
							li
								a(href='#') Specials
					.clearfix  
			p.footer-class
				a(href='http://www.cssmoban.com/', target='_blank', title='模板之家') &#x6A21;&#x677F;&#x4E4B;&#x5BB6;
				a(href='http://www.cssmoban.com/', title='网页模板', target='_blank') &#x7F51;&#x9875;&#x6A21;&#x677F;