extends layout/main

block content
		// content
		.blog
			.container
				h2 Blog
				.single-inline
					.blog-to
						a(href='single.html')
							img.img-responsive.sin-on(src='images/sin1.jpg', alt='')
						.blog-top
							.blog-left
								b 23
								span July
							.top-blog
								a.fast(href='single.html') It is a long established fact that a reader will be distracted 
								p
									a(href='single.html') Admin
									a(href='#') General
									a(href='single.html') 10 Comments
								p.sed
								a.more(href='single.html')
									span  
							.clearfix  
					.blog-to
						a(href='single.html')
							img.img-responsive.sin-on(src='images/sin.jpg', alt='')
						.blog-top
							.blog-left
								b 23
								span July
							.top-blog
								a.fast(href='single.html') It is a long established fact that a reader will be distracted 
								p
									a(href='single.html') Admin
									a(href='#') General
									a(href='single.html') 10 Comments
								p.sed
								a.more(href='single.html')
									span  
							.clearfix  
					.blog-to
						a(href='single.html')
							img.img-responsive.sin-on(src='images/sin2.jpg', alt='')
						.blog-top
							.blog-left
								b 23
								span July
							.top-blog
								a.fast(href='single.html') It is a long established fact that a reader will be distracted 
								p
									a(href='single.html') Admin
									a(href='#') General
									a(href='single.html') 10 Comments
								p.sed
								a.more(href='single.html')
									span  
							.clearfix  
				nav
					ul.pagination
						li.disabled
							a(href='#', aria-label='Previous')
								span(aria-hidden='true') &laquo;
						li.active
							a(href='#')
								span.sr-only (current)
						li
							a(href='#')
								span.sr-only
						li
							a(href='#')
								span.sr-only
						li
							a(href='#')
								span.sr-only
						li
							a(href='#')
								span.sr-only
						li
							a(href='#', aria-label='Next')
								span(aria-hidden='true') &raquo;