extends layout/main

block content
	// content
	.review
		.container
			h2 Reviews
			.review-md1
				.col-md-4.sed-md
					.col-1
						a(href='single.html')
							img.img-responsive(src='images/re.jpg', alt='')
						h4
							a(href='single.html') Sed ut perspiciatis unde omnis
						p
				.col-md-4.sed-md
					.col-1
						a(href='single.html')
							img.img-responsive(src='images/re1.jpg', alt='')
						h4
							a(href='single.html') Sed ut perspiciatis unde omnis
						p
				.col-md-4.sed-md
					.col-1
						a(href='single.html')
							img.img-responsive(src='images/re2.jpg', alt='')
						h4
							a(href='single.html') Sed ut perspiciatis unde omnis
						p
				.clearfix  
			.review-md1
				.col-md-4.sed-md
					.col-1
						a(href='single.html')
							img.img-responsive(src='images/re3.jpg', alt='')
						h4
							a(href='single.html') Sed ut perspiciatis unde omnis
						p
				.col-md-4.sed-md
					.col-1
						a(href='single.html')
							img.img-responsive(src='images/re4.jpg', alt='')
						h4
							a(href='single.html') Sed ut perspiciatis unde omnis
						p
				.col-md-4.sed-md
					.col-1
						a(href='single.html')
							img.img-responsive(src='images/re5.jpg', alt='')
						h4
							a(href='single.html') Sed ut perspiciatis unde omnis
						p
				.clearfix  
			.review-md1
				.col-md-4.sed-md
					.col-1
						a(href='single.html')
							img.img-responsive(src='images/re6.jpg', alt='')
						h4
							a(href='single.html') Sed ut perspiciatis unde omnis
						p
				.col-md-4.sed-md
					.col-1
						a(href='single.html')
							img.img-responsive(src='images/re7.jpg', alt='')
						h4
							a(href='single.html') Sed ut perspiciatis unde omnis
						p
				.col-md-4.sed-md
					.col-1
						a(href='single.html')
							img.img-responsive(src='images/re1.jpg', alt='')
						h4
							a(href='single.html') Sed ut perspiciatis unde omnis
						p
				.clearfix  