.footer
    .footer-middle
        .container
            .footer-middle-in
                h6 About us
                p
            .footer-middle-in
                h6 Information
                ul
                    li
                        a(href='#') About Us
                    li
                        a(href='#') Delivery Information
                    li
                        a(href='#') Privacy Policy
                    li
                        a(href='#') Terms &amp; Conditions
            .footer-middle-in
                h6 Customer Service
                ul
                    li
                        a(href='contact.html') Contact Us
                    li
                        a(href='#') Returns
                    li
                        a(href='contact.html') Site Map
            .footer-middle-in
                h6 My Account
                ul
                    li
                        a(href='#') Order History
                    li
                        a(href='#') Wish List
                    li
                        a(href='#') Newsletter
            .footer-middle-in
                h6 Extras
                ul
                    li
                        a(href='#') Affiliates
                    li
                        a(href='#') Specials
            .clearfix  
            p.footer-class
                a(href='http://www.cssmoban.com/', target='_blank', title='模板之家') &#x6A21;&#x677F;&#x4E4B;&#x5BB6;
                a(href='http://www.cssmoban.com/', title='网页模板', target='_blank') &#x7F51;&#x9875;&#x6A21;&#x677F;