// header  
.header
    .top-header
        .container
            .top-head
                ul.header-in
                    li
                        a(href='#')   Help
                    li
                        a(href='contact.html')    Contact Us
                    li
                        a(href='#')    How To Use
                .search
                    form
                        input(type='text', value='search about something ?', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'search about something ?';}")
                        input(type='submit', value='')
                .clearfix